<!DOCTYPE html>
<html>
<head>
    <title>Tablero de Buscaminas</title>
    <style>
        * {
            font-family: sans-serif;
        }
        h1 {
            color: cornflowerblue;
        }
    </style>
</head>
<body>
    <h1>Tablero de Buscaminas</h1>
    
    {% if tablero %}
    <table border="1">
        {% for fila in tablero.casillas %}
        <tr>
            {% for casilla in fila %}
                <td style="width: 30px; height: 30px;">
                    {% if casilla.tiene_mina %}
                        X
                    {% else %}
                        {{ casilla.minas_adyacentes }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>


