<html>
    <head>
        <title>Tablero de Buscaminas</title>
        <style>
            *{
                font-family: sans-serif;
            }
            .cabecera{
                background-color: deepskyblue;
                padding: 20px;
                color: white;
            }
            .cuerpo{
                margin: 30px;
            }
            a{
                text-decoration-color: cornflowerblue ;
            }
        </style>
    </head>
    <body>
        <div class="cabecera"><h1>Bienvenido!</h1><h5>Created by Sergio Navarro</h5></div>
        <div class="cuerpo">
            <h4>Para crear el tablero de buscaminas pulsa en el siguiente enlace:</h4>
            <h4><a href="{% url 'crear_tablero' %}">👉CREAR TABLERO👈</a></h4>
        </div>
    </body>
</html>