<html>
    <head>
        <title>Tablero de Buscaminas</title>
        <style>
            *{
                font-family: sans-serif;
            }
            h1{
                color: cornflowerblue
            }
            a{
                text-decoration-color: cornflowerblue ;
            }
        </style>
    </head>
    <body>
        <h1>Index</h1>
        <h3>Para crear el tablero pulsa en el siguiente enlace:</h3>
        <h3><a href="{% url 'crear_tablero' %}">👉CREAR TABLERO👈</a></h3>
    </body>
</html>